<table border="1" cellpadding="100" class="app-table">
    <thead>
        <td> Doctor 1</td>
        <td> Doctor 2</td>
    <thead>
    <tr>
        <td>
            <span class="booked-slot">10:00 AM</span><br>
            <span class="booked-slot">10:30 AM</span><br>
        </td>
        <td>
            <span class="booked-slot">10:00 AM</span><br>
            <span class="booked-slot">10:30 AM</span><br>
            <a href = "#" class="available-slot"><u> 11:00 AM </u></a> <br>
    </td>
    </tr>
</table>