<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div style= "background:#fff;height:100%;position:relative;">
	<img src="/TPS_landing.png" alt="Smiley face"  width="100%" height="100%">	  
	<%= form_tag("/search", method: :get, id: :searchform) do %>
		<div class="backgroud_style" style="width: 100%; padding: 0%;top: 10%;left: 28%;position: absolute;">	
			<div class="form-group" style="width:15%; display:inline-block;">
					<i class="practo-icon icon-pin icon-ic_location_system"></i>
		      <input type="text" placeholder="Hyderabad" class="loc" id="location">

		    </div>
		    <div class="form-group" style="width:30%; display:inline-block;">
		    	<input type="text" placeholder="Search Doctors, Clinics" class="	search" id="term" name="term">			
		    </div>
				<input type="hidden" name="doctor_id"  id="doctor_id">
				<input type="hidden" name="clinic"  id="clinic">
		    
		</div>
	<% end %>
</div>