<!--<%= link_to('Logout', destroy_doctor_session_path, method: :delete, class: "pull-right btn btn-primary") %>   -->
<input type ="hidden" class = "current_doctor" value="<%= params[:current_doctor_id]%>"/>
<div class="calendar"></div>